* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #378ced
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

p {
  font-size: 0.9rem;
  line-height: 1.7;
  color: rgb(158, 158, 158);
  max-width: 60ch;
}

.app {
  min-height: 100vh;
  transition: all 0.2s ease;
  padding-bottom: 5vh;
}

.highlight {
  color: var(--color-primary);
}

.dark-mode {
  background-color: #222;
  color: white;
}

.see-more {
  padding: 1em 3.5em;
  background: var(--color-primary);
  text-decoration: none;
  color: #fff;
  display: inline;
  transition: transform 0.2s ease;
  border: none;
  cursor: pointer;
}

.see-more:hover,
.see-more:focus {
  transform: scale(1.05);
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }
}
